
/* .container{
    margin-top: 10px;
} */

/*body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1 rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    
}

v.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

}

.container{
    max-width: 960px;
    padding-left: 1 rem;
    padding-right: 1 rem;
    margin: auto;
    text-align: center;
}*/
body{
    position: flex;
    background-repeat: no-repeat;
    background-image:url(../images/bg2.jpg);
    background-size: 100%;
    color: aliceblue;
}

video{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}

.video-bg{
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    float: left;
}

#mapDiv
{
  width:600px;
  height:600px;
  border:thin solid black;

}

/*Password strength validation*/
.pwd{width:40px;height:20px;line-height:14px;padding-top:2px;}
.pwd_f{color:#BBBBBB;}
.pwd_c{background-color:#F3F3F3;border-top:1px solid #D0D0D0;border-bottom:1px solid #D0D0D0;border-left:1px solid #D0D0D0;}
.pwd_Weak_c{background-color:#FF4545;border-top:1px solid #BB2B2B;border-bottom:1px solid #BB2B2B;border-left:1px solid #BB2B2B;}
.pwd_Medium_c{background-color:#FFD35E;border-top:1px solid #E9AE10;border-bottom:1px solid #E9AE10;border-left:1px solid #E9AE10;}
.pwd_Strong_c{background-color:#3ABB1C;border-top:1px solid #267A12;border-bottom:1px solid #267A12;border-left:1px solid #267A12;}
.pwd_c_r{border-right:1px solid #D0D0D0;}
.pwd_Weak_c_r{border-right:1px solid #BB2B2B;}
.pwd_Medium_c_r{border-right:1px solid #E9AE10;}
.pwd_Strong_c_r{border-right:1px solid #267A12;}



/* h1{
    background-color:rgba(0,0,0,0.1);
}

.input-1{
    position: relative;
}

.my-navbar{
    background-color: transparent;
}

.my-content h1{
    padding-top: 5%;
}

.my-content h1,h2,p{
    text-align: center;
}

.my-btn{
    background-color: antiquewhite;
    color: black;
}

.foods{
    border-style: inset;
    border: rgb(255, 0, 0,0.5);
    border-width: 5px;
} */